svg {
	overflow: visible;
}

.domain {
	display: none;
}

#canvas3 {
	margin-top: 10vh;
}

.ticks_group, .paths {
	transition: all 1s ease;
}

.tooltip {
	position: fixed;
	background: #333;
	border-radius: 5px;
	padding: 5px;
	min-width: 100px;
	text-align: center;
	font-size: 0.85em;
	color: white;
}

.circle_dot {
	cursor: pointer;
}

.tick text {
	cursor: pointer;
}